/* font-family: 'Calistoga',
cursive;
font-family: 'Libre Baskerville',
serif;
font-family: 'M PLUS 1p',
sans-serif;
font-family: 'Roboto Serif',
serif;
*/
:root{
        --color-1: #16697A;
        --color-2: #489FB5;
        --color-3: #82C0CC;
        --color-4: #EDE7E3;
        --color-5: #f0991e;
        --palette2-color-1:#14471E;
        --palette2-color-2: #68904D;
        --palette2-color-3: #C8D2D1;
        --palette2-color-4: #EE9B01;
        --palette2-color-5: #e46e00;
        --logo-font: 'Calistoga', cursive;
        --font-1: 'Libre Baskerville',
                serif;
        --font-2: 'Roboto Serif',
                        serif;
        --font-3: 'M PLUS 1p',
                sans-serif;
}
/* OPENING */
body {
        background-color: var(--color-4)
}
main{
        width: 100vw;
        height: 90vh;
        display: flex;
        justify-content: center;
}
.cloud1-icon{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        text-align: center;
        position: fixed;
        animation-name: cloud1;
        animation-duration: 4.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-direction: normal;
        animation-timing-function: linear;
        color: transparent;
}
.cloud1-icon i {
        font-size: 400px;
}
@keyframes cloud1{
        0%{
                opacity: 0%;
                color: white;
                left: -10%;
                top: 22%;
        }
        5%{
                opacity: 80%;
                color: white;
                left: -10%;
                top: 22%;
        }
        90%{
                opacity: 80%;
                color: white;
                left: -10%;
                top: 22%;
        }
        100%{
                opacity: 0%;
                color: white;
                left: -10%;
                top: 22%;
        }
}
.cloud2-icon {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        text-align: center;
        position: fixed;
        z-index: 1;
        animation-name: cloud2;
        animation-duration: 4.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-direction: normal;
        animation-timing-function: linear;
        color: transparent;
}

.cloud2-icon i {
        font-size: 550px;
}

@keyframes cloud2 {
        0% {
                opacity: 0%;
                color: white;
                left: 62%;
                top: 70%;
        }

        5% {
                opacity: 80%;
                color: white;
                left: 62%;
                top: 70%;
        }

        90% {
                opacity: 90%;
                color: white;
                left: 62%;
                top: 70%;
        }

        100% {
                opacity: 0%;
                color: white;
                left: 62%;
                top: 70%;
        }
}
.plane-icon{
        width: 100%;
        height: 100px;
        margin: -20%;
        display: flex;
        align-items: center;
        text-align: center;
        position: fixed;
        animation-name: plane;
        animation-duration: 4.5s;
        animation-delay: 1s;
        animation-fill-mode:forwards;
        animation-direction: normal;
        animation-timing-function: linear;
        color: transparent;
        transform: rotate(-35deg);
}
.plane-icon i{
        font-size: 300px;
}
@keyframes plane{
        0%{
                top: 100%;
                left: 0%;
        }
        25%{
                top: 75%;
                left: 25%;
                color: var(--color-2);
        }
        50%{
                top: 50%;
                left: 50%;
        }
        75%{
                top: 25%;
                left: 75%;
                color: var(--color-3);
        }
        100%{
                top: 0%;
                left: 100%;
        }
}
.site-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        height: 400px;
        width: 400px;
        border-radius: 50%;
        animation-name: logo;
        animation-delay: 4s;
        animation-duration: 500s;
        animation-fill-mode: backwards;
        animation-direction: normal;
        animation-timing-function:ease-in;

}
.site-logo p {
        font-size: 55px;
        color: whitesmoke;
        font-family: var(--logo-font);
}
.site-logo a {
        text-decoration: none;
}
@keyframes logo {
        0%{
                opacity: 0%;
                background-color: var(--color-5);
        }
        0.5%{
                opacity: 100%;
                background-color: var(--color-5);
        }
        100%{
                opacity: 100%;
                background-color: var(--color-5);
        }
}
/* HOME PAGE */
.home-body{
        width: 100vw;
        height: 80vh;
        margin: 0 auto;
        background-color: var(--palette2-color-3)
}
.nav-bar{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background-color: var(--color-4);
        margin: 0 auto;
        height: 100px;
        letter-spacing: 1px;
}
.nav-bar a {
        text-decoration: none;
        color:var(--color-1);
        list-style-type: none;
}
.nav-bar li {
        list-style-type: none;
        font-size: 20px;
        font-family: var(--font-3);
        font-weight: 400;
        padding-right: 50px;
}
.nav-logo i{
        font-size: 50px;
        margin: auto;
        padding: 0px;
        margin-left: -10px;
        color: var(--color-5)
}
.nav-bar li:hover, .nav-bar a:hover {
        color: var(--color-5);
        text-decoration: underline dotted;
}
.home-page-buttons{
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

}
.my-trips-button {
        width: 30%;
        height: 20%;
        margin: 150px 0px 30px 0px;
        font-size: 35px;
        border-radius: 50px;
        border: none;
        background-color:var(--color-1);
        box-shadow: 1px 5px 2px 1px var(--color-5);
        font-family: var(--font-3);
        font-weight: 300;
}
.my-trips-button a {
        text-decoration: none;
        color: var(--color-4);
}
.my-trips-button:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px var(--color-5);
        margin: 155px 0px 25px 0px;


}
.add-trip-button{
        width: 30%;
        height: 20%;
        font-size: 35px;
        border-radius: 50px;
        margin: 0px 0px 30px 0px;
        border: none;
        box-shadow: 1px 5px 2px 1px var(--color-5);
        background-color: var(--color-1);
        font-family: var(--font-3);
        font-weight: 300;
}
.add-trip-button a {
        text-decoration: none;
        color: var(--color-4);
}
.add-trip-button:hover {
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px var(--color-2);
        margin: 5px 0px 25px 0px;
}
.view-by-continent-button{
        width: 30%;
        height: 20%;
        font-size: 35px;
        border-radius: 50px;
        border: none;
        box-shadow: 1px 5px 2px 1px var(--color-5);
        background-color: var(--color-1);
        font-family: var(--font-3);
        font-weight: 300;
}
.view-by-continent-button a {
        text-decoration: none;
        color: var(--color-4);
}

.view-by-continent-button:hover {
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px var(--color-2);
        margin: 5px 0px 0px 0px;

}
/* TRIPS PAGE */
.all-trips {
        background-color: var(--palette2-color-3);
        margin: 0 auto;
}

.all-trips h1 {
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        padding: 50px 0px 30px 0px;
        color: var(--color-1)

}
.visited-buttons{
        margin: 0 auto;
        padding: 0px;
        background-color: var(--palette2-color-3);
}
.visited-buttons a{
        text-decoration: none;
        font-family: var(--font-2);
        color: var(--color-1);
        font-size: 20px;
}
.visited-buttons button{
        width: 280px;
        height: 50px;
        margin: 20px;
        border: none;
        border-radius: 10px;
        background-color: var(--color-4)

}
.visited-buttons-top-row{
        display: flex;
        flex-flow: row;
        justify-content: center;
}
.visited-buttons-bottom-row{
        display: flex;
                flex-flow: row;
                justify-content: center;
}
.container{
        width: 100vw;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        background-color: var(--palette2-color-3);
}
.trip-card{
        margin: 0 auto;
        min-width: 25%;
        width: 30%;
        margin: 50px 20px 20px 20px;
        padding: 10px;
        background-color: var(--color-4);
        color: ghostwhite;
        border-radius: 20px;
}
 .city{
        text-align: center;
        display: block;
        align-self: center;
        margin: 0 auto;
        padding: 0px;
        background-color: var(--color-4);
        color: var(--color-5);
        padding: 5px;
        border-radius: 10px;
        font-size: 30px;
        font-family: var(--logo-font);
        font-weight: 300;
        width: 50%;
        

}
.country {
        text-align: center;
        text-transform: uppercase;
        color: var(--color-1);
        padding: 0px;
        margin: 0 auto;
        font-family: var(--font-3);
}
.card-row-1{
        width: 100%;
        height: 20%;
}
.row-2{
        width: 80%;
        height: 150px;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        color: var(--color-1);
}
.row-2 div {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: center;
}
.row-3 {
        width: 100%;
        height: 20%;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        text-align: center;
        
}
.row-3-part-1{
        width: 50%;
        margin: 0 auto;
        color: var(--color-1);
}
.row-3-part-2{
        width: 50%;
        margin: 0 auto;
        color: var(--color-1);
}
.question-heading{
        background-color: var(--color-5);
        color: var(--color-4);
        border-radius: 10px;
        padding: 5px;
        width: 60%;
        text-align: center;
        margin: 0 auto;
}

.reason, .season, .timeframe {
        font-size:  20px;
        font-family: var(--font-3);
}

.trip-buttons{
        display: flex;
        flex-wrap: row nowrap;
        align-items: center;
        justify-content: center;
}
.edit-button, .edit-button a {
        margin: 0 auto;
        width: 50%;
        height: 30px;
        background-color: var(--color-5);
        border: none;
        border-radius: 20px;
        text-decoration: none;
        color: var(--color-4);
        margin: 10px;
}
.edit-button:hover, .edit-button a:hover{
text-decoration: underline dotted;
}
.delete-button, .delete-button a{
        width: 40px;
        height: 40px;
        margin: 0 auto;
        padding: 0px;
        border: none;
        font-size: 30px;
        text-align: center;
        color: black;
        background-color: transparent;
        text-decoration: none;
        text-align: right;
        margin: 10px;
}
.delete-button:hover, .delete-button a:hover{
        color: rgb(190, 55, 55);
}

/* NEW TRIP PAGE */
.new-trip-container{
        width: 100vw;
        margin: 0 auto;
        font-family: var(--font-3);
}
.form-background {
        width: 60%;
        margin: 0 auto;
        padding: 0px;
        text-align: center;
        background-color: var(--color-4);
        margin-top: 30px;
        border-radius: 20px;
}
.form-background h1{
        padding-top: 25px;
        font-size: 35px;
        font-family: var(--logo-font);
        letter-spacing: 3px;
        font-weight: 100;
        color: var(--palette2-color-5
        );
}
.new-trip-form{
        text-align: center;
        font-size: 18px;
        color: var(--color-1);
        font-weight: 400;
}
.new-trip-form select{
        width: 150px;
        height: 40px;
        border: 1px solid var(--color-5);
        border-radius: 5px;
        margin: 20px 10px 20px 10px;
        font-size: 18px;


}
.reason-box{
        width: 60%;
        height: 40px;
        border: 1px solid var(--color-5);
        border-radius: 5px;
        margin: 15px;
}
.choice-questions{
        display:flex;
        flex-flow: colum nowrap;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 80%;
}
.radio-questions{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
}
.radio-questions div {
        text-align: left;
}
.new-trip-buttons button{
        width: 25%;
        height: 30px;
        margin: 50px 20px 20px 20px;
        border-radius: 20px;
        border: none;
        color: var(--color-1);

}
.new-trip-buttons a {
        text-decoration: none;
        color: var(--color-1)
}
.new-trip-buttons button:hover{
        background-color: var(--palette2-color-5);
        color: var(--color-4);
        cursor: pointer;
}
.completed-trip{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
}
.add-new-city {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
}
.add-new-city button {
        height: 30px;
        width: 15%;
        align-self: center;
        margin: 10px;
        background-color: var(--color-4);
        border: none;
        border-radius: 10px;
}
.add-new-city button a {
        text-decoration: none;
        color: black;
}

/* ADD NEW CITY */
.add-city-container{
        margin: 0 auto;
        text-align: center;
}
.new_city_form{
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
}
.new_city_form div{
        margin: 15px;
        width: 100%;
}
.new_city_form button{
        width: 15%;
        border: none;

}
.new_city_form a {
        text-decoration: none;
        color: black;
}

/* FUTURE TRIPS PAGE */
.future{
        background-color: var(--palette2-color-3);
        margin: 0 auto;
}
.future h1{
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        padding: 50px 0px 30px 0px;
        color: var(--color-1)
}



/* PAST TRIPS PAGE */
.past {
        background-color: var(--palette2-color-3);
        margin: 0 auto;
}

.past h1 {
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        padding: 50px 0px 30px 0px;
        color: var(--color-1)
}
/* VIEW BY CONTINENTS PAGE */
.continent-trips h1{
        text-align: center;
        padding: 50px 0px 20px 0px;
        color: var(--color-1);
        font-family: var(--logo-font);
        font-weight: 100;

}
.continents-buttons {
        margin: 0 auto;
        width: 80vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
}
.continents-buttons a {
        text-decoration: none;
        color: var(--palette2-color-5);
}
.continents-buttons button {
        width: 250px;
        height: 60px;
        margin: 30px;
        border:none;
        background-color: var(--color-4);
        font-size: 25px;
        border-radius: 10px;
}
.continents-buttons button:hover{
        text-decoration: underline dotted;
}