/* font-family: 'Calistoga',
cursive;
font-family: 'Libre Baskerville',
serif;
font-family: 'M PLUS 1p',
sans-serif;
font-family: 'Roboto Serif',
serif;
*/
:root{
        --color-1: #16697A;
        --color-2: #489FB5;
        --color-3: #82C0CC;
        --color-4: #EDE7E3;
        --color-5: #f0991e;
        --logo-font: 'Calistoga', cursive;
        --font-1: 'Libre Baskerville',
                serif;
        --font-2: 'Roboto Serif',
                        serif;
        --font-3: 'M PLUS 1p',
                sans-serif;
}
/* OPENING */
body {
        background-color: var(--color-4)
}
main{
        width: 100vw;
        height: 90vh;
        display: flex;
        justify-content: center;
}
.cloud1-icon{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        text-align: center;
        position: fixed;
        animation-name: cloud1;
        animation-duration: 4.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-direction: normal;
        animation-timing-function: linear;
        color: transparent;
}
.cloud1-icon i {
        font-size: 400px;
}
@keyframes cloud1{
        0%{
                opacity: 0%;
                color: white;
                left: -10%;
                top: 22%;
        }
        5%{
                opacity: 80%;
                color: white;
                left: -10%;
                top: 22%;
        }
        90%{
                opacity: 80%;
                color: white;
                left: -10%;
                top: 22%;
        }
        100%{
                opacity: 0%;
                color: white;
                left: -10%;
                top: 22%;
        }
}
.cloud2-icon {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        text-align: center;
        position: fixed;
        z-index: 1;
        animation-name: cloud2;
        animation-duration: 4.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-direction: normal;
        animation-timing-function: linear;
        color: transparent;
}

.cloud2-icon i {
        font-size: 550px;
}

@keyframes cloud2 {
        0% {
                opacity: 0%;
                color: white;
                left: 62%;
                top: 70%;
        }

        5% {
                opacity: 80%;
                color: white;
                left: 62%;
                top: 70%;
        }

        90% {
                opacity: 90%;
                color: white;
                left: 62%;
                top: 70%;
        }

        100% {
                opacity: 0%;
                color: white;
                left: 62%;
                top: 70%;
        }
}
.plane-icon{
        width: 100%;
        height: 100px;
        margin: -20%;
        display: flex;
        align-items: center;
        text-align: center;
        position: fixed;
        animation-name: plane;
        animation-duration: 4.5s;
        animation-delay: 1s;
        animation-fill-mode:forwards;
        animation-direction: normal;
        animation-timing-function: linear;
        color: transparent;
        transform: rotate(-35deg);
}
.plane-icon i{
        font-size: 300px;
}
@keyframes plane{
        0%{
                top: 100%;
                left: 0%;
        }
        25%{
                top: 75%;
                left: 25%;
                color: var(--color-2);
        }
        50%{
                top: 50%;
                left: 50%;
        }
        75%{
                top: 25%;
                left: 75%;
                color: var(--color-3);
        }
        100%{
                top: 0%;
                left: 100%;
        }
}
.site-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        height: 400px;
        width: 400px;
        border-radius: 50%;
        animation-name: logo;
        animation-delay: 4s;
        animation-duration: 500s;
        animation-fill-mode: backwards;
        animation-direction: normal;
        animation-timing-function:ease-in;

}
.site-logo p {
        font-size: 55px;
        color: whitesmoke;
        font-family: var(--logo-font);
}
.site-logo a {
        text-decoration: none;
}
@keyframes logo {
        0%{
                opacity: 0%;
                background-color: var(--color-5);
        }
        0.5%{
                opacity: 100%;
                background-color: var(--color-5);
        }
        100%{
                opacity: 100%;
                background-color: var(--color-5);
        }
}
/* HOME PAGE */
.home-body{
        width: 100vw;
        height: 80vh;
        margin: 0 auto;
        background-color: ghostwhite;
}
.nav-bar{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background-color: var(--color-4);
        margin: 0 auto;
        height: 100px;
        letter-spacing: 1px;
}
.nav-bar a {
        text-decoration: none;
        color:var(--color-1);
        list-style-type: none;
}
.nav-bar li {
        list-style-type: none;
        font-size: 20px;
        font-family: var(--font-3);
        font-weight: 400;
        padding-right: 50px;
}
.nav-logo i{
        font-size: 50px;
        margin: auto;
        padding: 0px;
        margin-left: -10px;
        color: var(--color-5)
}
.nav-bar li:hover, .nav-bar a:hover {
        color: var(--color-5);
        text-decoration: underline dotted;
}
.home-page-buttons{
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

}
.my-trips-button {
        width: 30%;
        height: 20%;
        margin: 150px 0px 60px 0px;
        font-size: 40px;
        border-radius: 50px;
        border: none;
        background-color:var(--color-1);
        box-shadow: 1px 5px 2px 1px var(--color-5);
        font-family: var(--font-3);
        font-weight: 300;
}
.my-trips-button a {
        text-decoration: none;
        color: var(--color-4);
}
.my-trips-button:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px var(--color-5);
        margin: 155px 0px 55px 0px;


}
.add-trip-button{
        width: 30%;
        height: 20%;
        font-size: 40px;
        border-radius: 50px;
        border: none;
        box-shadow: 1px 5px 2px 1px var(--color-5);
        background-color: var(--color-1);
        font-family: var(--font-3);
        font-weight: 300;
}
.add-trip-button a {
        text-decoration: none;
        color: var(--color-4);
}
.add-trip-button:hover {
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px var(--color-2);
        margin-top: 5px;
}