{% extends "base.html" %}{% block content %}
<div class="new-trip-container">
	<div class="form-background">
		<h1>New Trip</h1>
		<form class="new-trip-form" action="/trips" method="POST">
			<label for="continent">Continent:</label>
			<select name="continent">
				{% for continent in continents %}
				<option value="{{continent.id}}" name="continent" required>
					{{continent.name}}
				</option>
				{% endfor %}
			</select>
			<label for="country">Country:</label>
			<select name="country">
				{% for country in countries %}
				<option value="{{country.id}}" name="country" required>
					{{country.name}}
				</option>
				{% endfor %}
			</select>
			<label for="city">City:</label>
			<select name="city">
				{% for city in cities %}
				<option value="{{city.id}}" name="city" required>{{city.name}}</option>
				{% endfor %}
			</select>
			<br />
			<div class="add-new-city">
				<p>Don't see the City you're looking for?</p>
				<button><a href="/add_new_city_country">Add New City</a></button>
			</div>
			<br />
			<label for="reason">Reasons To Visit:</label>
			<input
				class="reason-box"
				type="text"
				name="reason"
				placeholder="Sightseeing, Architecture, Culture..."
			/>
			<br />
			<div class="choice-questions">
				<div class="radio-questions">
					<p>What Time of Year?</p>
					<div>
						<input type="radio" value="Spring" name="season" /><label
							for="spring"
							>Spring</label
						>
					</div>
					<div>
						<input type="radio" value="Summer" name="season" />
						<label for="summer">Summer</label>
					</div>
					<div>
						<input type="radio" value="Autumn" name="season" />
						<label for="autumn">Autumn</label>
					</div>
					<div>
						<input type="radio" value="Winter" name="season" /><label
							for="winter"
							>Winter</label
						>
					</div>
				</div>
				<div class="radio-questions">
					<p>When Do You Want to Visit?</p>
					<div>
						<input type="radio"
							value="In the Next Year"
							name="timeframe"
							required
						/>
						<label for="year">In the Next Year</label>
					</div>
					<div>
						<input type="radio"
							value="In the Next 2 Years"
							name="timeframe"
						/><label for="2year">In the Next 2 Years</label>
					</div>
					<div>
						<input
							type="radio"
							value="In the Next 5 Years"
							name="timeframe"
						/><label for="5year">In the Next 5 Years</label>
					</div>
					<div>
						<input
							type="radio"
							value="In the Next 10 Years"
							name="timeframe"
						/><label for="10year">In the Next 10 Years</label>
					</div>
				</div>
			</div>
			<div class="new-trip-buttons">
				<button type="button"><a href="/home">Back</a></button>
				<button type="submit">Add Trip</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
