<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/2567eb5e72.js"
			crossorigin="anonymous"
		></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<title>Travel Bucket List</title>
	</head>
	<body class="home-body">
		<header>
			<div>
				<ul class="nav-bar">
					<li class="nav-logo"><i class="fa-solid fa-earth-asia"></i></li>
					<li><a href="/home">Home</a></li>
					<li><a href="/trips">Trips</a></li>
					<li><a href="/trips/add_trip">Add Trip</a></li>
					<li><a href="/">Opening Page</a></li>
				</ul>
			</div>
		</header>
		<main class="home-page-buttons">
			<button class="add-trip-button">Add New Trip</button>
			<button class="my-trips-button">My Trips</button>
		</main>
	</body>
</html>
