<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/2567eb5e72.js"
			crossorigin="anonymous"
		></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Calistoga&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=M+PLUS+1p:wght@100;300;400;500&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<title>Travel Bucket List</title>
	</head>
	<body class="home-body">
		<header>
			<div>
				<ul class="nav-bar">
					<li class="nav-logo"><i class="fa-solid fa-earth-asia"></i></li>
					<li><a href="/home">Home</a></li>
					<li><a href="/trips">Trips</a></li>
					<li><a href="/add_trip">Add Trip</a></li>
					<li><a href="/">Opening Page</a></li>
				</ul>
			</div>
		</header>
		{% block content %}

		<main class="home-page-buttons">
			<button type="button" class="my-trips-button">
				<a href="/trips">My Trips</a>
			</button>
			<button type="button" class="add-trip-button">
				<a href="/add_trip">Add New Trip</a>
			</button>
			<button type="button" class="view-by-continent-button">
				<a href="/view_by_continent">View Trips By Continent</a>
			</button>
		</main>

		{% endblock%}
	</body>
</html>
