{% extends "base.html" %} {% block content %}

<div class="continent-trips">
	<h1>View Trips By Continent</h1>
	<div class="continents-buttons">
		<button><a href="/view_by_continent/europe">Europe</a></button>
		<button><a href="/view_by_continent/asia">Asia</a></button>
		<button><a href="/view_by_continent/north_america">North America</a></button>
		<button><a href="/view_by_continent/south_america">South America</a></button>
                <button><a href="/view_by_continent/africa">Africa</a></button>
                <button><a href="/view_by_continent/oceania">Oceania</a></button>
                <button><a href="/view_by_continent/antarctica">Antarctica</a></button>
                        
		</button>
	</div>
</div>

{% endblock %}
