<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/2567eb5e72.js"
			crossorigin="anonymous"
		></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<title>Travel Bucket List</title>
	</head>
	<body>
		<main>
			<div class="cloud1-icon"><i class="fa-solid fa-cloud"></i></div>
			<div class="cloud2-icon"><i class="fa-solid fa-cloud"></i></div>
			<div class="plane-icon"><i class="fa-solid fa-plane"></i></div>
			<div class="site-logo">
				<a href="/home">
					<p>Your Travel<br />Bucket List</p></a
				>
			</div>
		</main>
	</body>
</html>
