{% extends "base.html" %} {% block content %}
<div class="all-trips">
        <h1>All Trips</h1>
</div>
<div class="visited-buttons">
                <button><a href="/past">Past Trips</a></button>
                <button><a href="/future">Future Trips</a></button>
                <button><a href="/view_by_continent">View Trips by Continent</a></button>
        </div>
        <div class="container">
	{% for trips in trips %}
	<div class="trip-card">
                <div class="card-row-1">
		{% for cities in cities %} {% if trips.city_id == cities.id %}
		<p class="city">{{ cities.name }}</p>
		{% endif %} {% endfor %} {% for countries in countries %} {% if
		trips.country_id == countries.id %}
		<p class="country">{{countries.name}}</p>
		{% endif %} {% endfor %}
                </div>
			<div class="row-2">
				<p class="question-heading">Reasons To Go:</p>
                                <div>
				<p class="reason">{{trips.reason}}</p>
                                </div>
			</div>
                        <div class="row-3">
                                <div class="row-3-part-2">
				<p class="question-heading">When:</p>
				<p class="timeframe">{{trips.timeframe}}</p>
			</div>
                        <div class="row-3-part-2">
				<p class="question-heading">Season:</p>
				<p class="season">{{trips.season}}</p>
			</div>
                        </div>
		<hr />
		<div class="trip-buttons">
                        {% if trips.completed == "no" %}
                        <button class="visited-button"><a href="/trips/{{trips.id}}/mark_visited">Mark As Visited</a></button>
			{% endif %}
                        <button class="edit-button"><a href="/trips/{{trips.id}}/edit">Edit Trip</a></button>
                        
			<button class="delete-button">
				<a href="/trips/{{trips.id}}/delete"><i class="fa-regular fa-circle-xmark"></i></a></i>
			</button>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
